Django==4.2.13
djangorestframework==3.15.1
django-cors-headers==4.3.1
django-environ==0.11.2
psycopg[binary]==3.2.13
django-ipware==5.0.0
user-agents==2.2.0
sib-api-v3-sdk==7.6.0
gunicorn==22.0.0
whitenoise==6.7.0
requests==2.32.3
django-anymail==11.1
pdfplumber==0.11.4
python-docx==1.1.2
pycountry==24.6.1
celery==5.4.0
redis==5.0.8
reportlab==4.2.5
geohash2==1.1
djangorestframework-simplejwt>=5.3
qrcode[pil]==8.2
weasyprint==69.0
Jinja2==3.1.4
fonttools>=4.63.0
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
